<div  class="row">
  <div class="col-10">
    <h2 mat-dialog-title>Add user</h2>
  </div>
  <div class="col-2 d-flex justify-content-center align-items-center">
    <mat-icon aria-hidden="false" mat-dialog-close aria-label="Example home icon" fontIcon="close" class="cursor-pointer"></mat-icon>
  </div>

</div>

<mat-dialog-content>
  <div class="row">
    <form action="" [formGroup]="userForm" class="example-form">
      <div class="col-12 w-100 mb-3">
        <mat-label>Name</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="name">
        </mat-form-field>
      </div>
      <div class="col-12 w-100 mb-3">
        <mat-label>Email</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="email">

        </mat-form-field>
        <mat-error *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
          Email is <strong>required</strong>
        </mat-error>
      </div>
      <div class="col-12 w-100 mb-3">
        <mat-label>Phone</mat-label>
        <mat-form-field appearance="outline">
          <input matInput formControlName="phone">
        </mat-form-field>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="row w-100">
    <div class="col-6 text-end">
      <button mat-raised-button color="primary" mat-dialog-close>Close</button>
    </div>
    <div class="col-6">
      <button mat-raised-button color="warn" type="submit" (click)="OnSubmitForm()">Submit</button>
    </div>
  </div>
</mat-dialog-actions>
